<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <table class="table table-striped table-bordered table-hover table-collapse">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Pessoa</th>
						<th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {%for t in form%}
                 <tr>
                     <td>{{t.contato_telefone}}</td>
                     <td>{{t.pessoa}}</td>
                     <td class="text-center">
						<a id="idAlterar" class="btn btn-warning btn-sm" href="{}">Alterar</a>
						<a id="idExcluir" class="btn btn-danger btn-sm" href="{}">Exluir</a>
					 </td>

                 </tr>
                {%endfor%}
                </tbody>
            </table>
			<a id="idIncluir" class="btn btn-primary btn-md" href="{%url 'insert_tel'%}">Novo</a>
        </div>

    </div>

</body>
</html>