<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de pessoa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">
    <div class="jumbotron">

        <div class="page-header text-center">
            <h2>Cadastro</h2>
        </div>

        <form class="form-horizontal" role="form" method="POST">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="" for="pessoa_nome">Nome</label>
                        <input id="pessoa_nome" type="text" name="pessoa_nome" value="{{pessoa_nome}}" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-1 text-center">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>

        </form>
    </div>
</body>
</html>