<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div>
            <table class="table table-striped table-bordered table-hover table-collapse">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Logradouro</th>
                        <th>Numero</th>
						<th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                {%for p in form%}
                 <tr>
                     <td>{{p.pessoa_nome}}</td>
                     <td>{{p.pessoa_logradouro}}</td>
                     <td>{{p.pessoa_numero}}</td>
					 <td class="text-center">						
						<a id="idAlterar" class="btn btn-warning btn-sm" href="{%url 'update_pessoa' p.pessoa_id%}">Alterar</a>		
						<a id="idExcluir" class="btn btn-danger btn-sm" href="{%url 'delete_pessoa' p.pessoa_id%}">Exluir</a>
					 </td>
                 </tr>
                {%endfor%}
                </tbody>
            </table>
			<a id="idIncluir" class="btn btn-primary btn-md" href="{%url 'insert_pessoa'%}">Novo</a>
        </div>

    </div>

</body>
</html>