{% extends "base.html" %}

{%load bootstrap%}

{%block main%}
   <form class="form-horizontal" role="form" method="post" >
       {%csrf_token%}
       <!--{{form|bootstrap}}-->
       {{form|bootstrap_horizontal:'col-sm-1'}}
       <div class="row">
          <div class="form-group">
	          <div class="offset-sm-2">
	              <button type="submit"
	                      class="btn btn-primary">Salvar</button>
	          </div>
          </div>
      </div>
  </form>
{%endblock%}
